@import '../../../assets/scss/variables';
@import '../../../assets/scss/sections.scss';

.landing-about-me {
    $background-color-primary: #14aab9;
    $background-color-accent: #18de90;
    background: linear-gradient(150deg, $background-color-primary, $background-color-accent);
    color: white;
    text-shadow: 0px 4px 15px darken(adjust-hue($background-color-primary, -90deg), 12%);

    .content-wrapper {
        display: flex;
        justify-content: center;
    }
}
