@import '../../../assets/scss/variables';
@import '../../../assets/scss/sections.scss';

.landing-about-me {
    $background-color: white;
    background-color: $background-color;

    &::before,
    &::after {
        background-color: $background-color;
    }
}
