<div id="landing-projects" class="section landing-projects skewed-top skewed-bottom">
    <div class="wrapper">
        <h1 class="section-title">Projects</h1>
        <br>
        <div class="col-sm-12 content-wrapper">
            <div class="col-sm-6 typo-content headline">
                <h2>
                    {{heading}}
                    <br>
                    <small>{{subHeading}}</small>
                </h2>
                <div class="call-to-action">
                    <button class="btn btn-rounded btn-outline">
                        {{callToActionText}} <fa name="arrow-right"></fa>
                    </button>
                </div>
            </div>
            <div class="col-sm-6"></div>
        </div>
    </div>
</div>
