<div id="landing-projects" class="section landing-projects skewed-top skewed-bottom">
    <div class="wrapper">
        <h1 class="section-title">Projects</h1>
        <br>
        <div class="col-sm-12 content-wrapper">
            <div class="col-sm-6 typo-content headline">
                <h2>
                    See the apps I've published
                    <br>
                    <small>
                        I've released multiple apps and plan to release more
                    </small>
                </h2>
            </div>
            <div class="col-sm-6"></div>
        </div>
    </div>
</div>
