@import '../../../assets/scss/variables';
@import '../../../assets/scss/sections.scss';

.landing-projects {
    $background-color: white;
    background-color: $background-color;

    &::before,
    &::after {
        --skew-direction: -1;
        background-color: $background-color;
    }

    .call-to-action > a {
        background: linear-gradient(90deg, #7AF3F8, #3faad6, #3faad6, #7af3f9, #7af3f9);
        text-shadow: -2px 0px 10px white;
        background-size: 250%;
        background-position-x: 50%;
        transition: background-position-x ease-out .5s;

        &:hover {
            background-position-x: 120%;
        }
    }
}
