.banner {
    height: 100vh;
    background: linear-gradient(150deg, blue, cyan);
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    .headline {
        background-color: transparent;
        color: white;
        text-shadow: 0px 4px 15px #183248;

        .caption {
            color: lighten(white, .8);
            margin-left: 100px;
        }
    }
}
