@import '../../../assets/scss/variables';

$banner-background-color-primary: blue;
$banner-background-color-accent: cyan;

.banner {
    height: 110vh;
    background: linear-gradient(150deg, $banner-background-color-primary, $banner-background-color-accent);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: $section-spacer * 6;

    .headline {
        background-color: transparent;
        color: white;
        text-shadow: 0px 4px 15px #183248;

        .caption {
            color: lighten(white, .8);
            margin-left: 100px;
        }
    }

    .banner-footer {
        position: absolute;
        bottom: 0px;

        .btn-outline-light {
            &:hover {
                color: $banner-background-color-primary;
            }
        }
    }
}
