<app-short-banner bannerTitle="My Works"></app-short-banner>
<app-works-filter-section (selectionChanged)="selectionChanged($event)"></app-works-filter-section>
<section class="section bg-gradient-neutral">
    <div class="container pb-100">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <ng-template ngFor let-project [ngForOf]="selectedProjects$ | async">
                    <div class="card shadow border-0 mb-md-sm project-card">
                        <div class="card-body">
                            <div class="row justify-content-center">
                                <div class="col-md-4">
                                    <div class="feature-banner"
                                         [style.background-image]="'url(' + getProjectFeatureBanner(project.slug) + ')' | safe: 'style'"></div>
                                </div>
                                <div class="col-md-8">
                                    <h4>{{project.title}}</h4>
                                    <p>
                                        <ng-template ngFor let-tag [ngForOf]="project.tags">
                                            <span class="badge badge-success badge-lg tag-badge">{{tag}}</span>
                                        </ng-template>
                                    </p>
                                    <p>{{project.shortDesc}}</p>
                                    <p>
                                        <a class="btn btn-neutral"
                                           [routerLink]="['..', 'item', project.slug]">More &rarr;</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
</section>
