.feature-banner {
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
}
.project-card {
    white-space: pre-line;

    .tag-badge {
        margin-left: .5rem;
        margin-right: .5rem;

        &:first-child {
            margin-left: 0px;
        }

        &:last-child {
            margin-right: 0px;
        }
    }
}
