.navbar {
    height: 100px;
    width: 100vw;
    background: linear-gradient(to bottom, rgba(255, 255, 255, .9), transparent);
    position: absolute;
    margin-bottom: 0px;
    transition-property: height;
    color: white;

    .scrolled {
        height: 80px;
    }
}
