<app-short-banner bannerTitle="My Skillset"></app-short-banner>
<section class="section section-lg mt--200 pb-0">
    <div class="container">
        <div class="row row-grid justify-content-center">
            <div class="col-lg-10">
                <div class="card shadow border-0">
                    <div class="card-body text-center">
                        <!--  -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section bg-gradient-neutral pt-5 pb-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10 description">
                <p>
                    <markdown ngPreserveWhitespaces src="/data/skillset.md"></markdown>
                </p>
            </div>
        </div>
    </div>
</section>
