@import '../../../assets/scss/variables';
@import '../../../assets/scss/sections.scss';

.landing-graphics-and-illustrations {
    $background-color-primary: limegreen;
    $background-color-accent: #75ea7c;
    background: linear-gradient(195deg, $background-color-primary, $background-color-accent);
    color: white;
    text-shadow: 0px 4px 15px darken(adjust-hue($background-color-primary, -90deg), 12%);
}
