<div id="landing-graphics-and-illustrations" class="section landing-graphics-and-illustrations">
    <div class="wrapper">
        <h1 class="section-title">Graphics and Illustrations</h1>
        <br>
        <div class="col-sm-12 content-wrapper">
            <div class="col-sm-6"></div>
            <div class="col-sm-6 typo-content headline">
                <h2>
                    {{heading}}
                    <br>
                    <small>{{subHeading}}</small>
                </h2>
            </div>
        </div>
    </div>
</div>
