<app-navbar></app-navbar>
<div class="main-wrapper">
    <app-banner
        heading="Some Digital Stuffs"
        subHeading="explore the products of my profession"></app-banner>
    <app-landing-projects
        heading="I have developed and released multiple apps"
        subHeading="I've released some games and plan to release more"
        callToActionText="See the list"></app-landing-projects>
    <app-landing-graphics-and-illustrations
        heading="I also do digital graphics"
        subHeading="From raster and vector graphics to 3d modeling and rendering, I do them in my free time"
        callToActionText="Have a look"></app-landing-graphics-and-illustrations>
    <app-landing-skills-and-tech-stack
        heading="Being a software engineer made me learn a lot"
        subHeading="I experienced game and web development and am familiar with some frameworks and tools used in the industry"
        callToActionText="View them"></app-landing-skills-and-tech-stack>
    <app-landing-about-me
        heading="Interested in my experiences?  I have a page for it"
        subHeading="I've detailed the steps I took to cultivate my skills and the learnings I got through the years"
        callToActionText="Read more"></app-landing-about-me>
</div>
<app-footer></app-footer>
