<app-header></app-header>
<main>
    <app-banner></app-banner>
    <app-cards-section></app-cards-section>
    <app-graphic-highlight-section></app-graphic-highlight-section>
    <app-textual-highlight-section></app-textual-highlight-section>
    <app-definition-group-section></app-definition-group-section>
    <app-icon-group-section></app-icon-group-section>
    <app-call-to-action-section></app-call-to-action-section>
    <app-bullet-list-section></app-bullet-list-section>
    <app-contact-form-section></app-contact-form-section>
    <app-descriptive-call-to-action-section></app-descriptive-call-to-action-section>
</main>
<app-footer></app-footer>
