.footer {
    width: 100vw;
    position: absolute;
    bottom: 0px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .contact-list {
        display: inline;
        list-style: none;
    }
}
