<footer class="footer">
    <!-- <div class="container container-lg">
        <div class="row">
            <div class="col-md-6 mb-5 mb-md-0">
                <div class="card card-lift--hover shadow border-0">
                    <a href="../examples/landing.html" title="Landing Page">
                        <img src="../assets/img/theme/landing.jpg" class="card-img">
                    </a>
                </div>
            </div>
            <div class="col-md-6 mb-5 mb-lg-0">
                <div class="card card-lift--hover shadow border-0">
                    <a href="../examples/profile.html" title="Profile Page">
                        <img src="../assets/img/theme/profile.jpg" class="card-img">
                    </a>
                </div>
            </div>
        </div>
    </div> -->
    <div class="container">
        <div class="row row-grid align-items-center my-md">
            <div class="col-lg-6">
                <h3 class="text-primary font-weight-light mb-2">Contact Info</h3>
                <h4 class="mb-0 font-weight-light"></h4>
            </div>
            <div class="col-lg-6 text-lg-center btn-wrapper">
                <a target="_blank" [href]="env.socialMedia.email.url"
                    class="btn btn-neutral btn-round btn-lg text-transform-none">
                    <i class="fa fa-envelope"></i> &nbsp; {{env.socialMedia.email.label}}
                </a>
            </div>
        </div>
        <hr>
        <div class="row align-items-center justify-content-md-between">
            <div class="col-md-6">
                <div class="copyright">
                    &copy; Developed using Angular and Argon Design System Free
                </div>
            </div>
            <div class="col-md-6">
                <ul class="nav nav-footer justify-content-end">
                    <!-- <li class="nav-item">
                        <a href="https://www.creative-tim.com" class="nav-link" target="_blank">Creative Tim</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://www.creative-tim.com/presentation" class="nav-link" target="_blank">About
                            Us</a>
                    </li>
                    <li class="nav-item">
                        <a href="http://blog.creative-tim.com" class="nav-link" target="_blank">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://github.com/creativetimofficial/argon-design-system/blob/master/LICENSE.md"
                            class="nav-link" target="_blank">MIT License</a>
                    </li> -->
                </ul>
            </div>
        </div>
    </div>
</footer>
